<VirtualHost *:80>
    ServerAdmin  webmaster@{{ ansible_fqdn }}
    ServerName   {{ ansible_fqdn }}
    DocumentRoot /var/www/vhosts/{{ ansible_hostname }}

    <Directory /var/www/vhosts/{{ ansible_hostname }}>
        Require all granted
        AllowOverride AuthConfig
        Options Indexes FollowSymLinks
    </Directory>
    
 </VirtualHost>
